%p#notice= notice

%table.table
  %tr
    %th
      %strong Title:
    %th
      %strong Description:
  %tr
    %td
      = @goal.title
    %td
      = @goal.description

= link_to 'Edit', edit_goal_path(@goal), class: "btn btn-default btn-sm"

= link_to 'Back', goals_path, class: "btn btn-default btn-sm"
