!!!
%html{"ng-app" => ""}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Adventure Depot
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = render 'layouts/navigation'
    %main{role: "main"}
      .container
        .content
          .row
            .span12
              = yield
          %br
          %br
          %footer.navbar.navbar-fixed-bottom
            %nav.navbar-inner
              .container
                %h6.pull-right Copyright &copy; Infinite Horses 2013